<h1> Administrative Portal </h1>

<%= link_to "gene", controller: "admin_gene", action: "index"%> | 
<%= link_to "paper", controller: "admin_paper", action: "index"%> | 
<%= link_to "association", controller: "admin_find", action: "index"%> | 
<%= link_to "cancer", controller: "admin_cancer", action: "index"%> | 
<%= link_to "drug", controller: "admin_drug", action: "index"%> | 
<%= link_to "home", controller: "genes", action: "home"%> | 