<h1> create new finding entry </h1>

<%= form_for @finding do |f| %>
  <p>
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </p>

  <p>
    <%= f.label :gene_name %><br>
    <%= f.text_field :gene_name %>
  </p>
  
  <p>
    <%= f.label :variant %><br>
    <%= f.text_field :variant %>
  </p>
  
  <p>
    <%= f.label :num_studies_testing_var %><br>
    <%= f.text_field :num_studies_testing_var %>
  </p>
  
  <p>
    <%= f.label :PMID %><br>
    <%= f.text_field :PMID %>
  </p>
  
  <p>
    <%= f.label :primary_study_p_value %><br>
    <%= f.text_field :primary_study_p_value %>
  </p>
  
  <p>
    <%= f.label :primary_study_or %><br>
    <%= f.text_field :primary_study_or %>
  </p>
  
  <p>
    <%= f.label :primary_study_95_ci %><br>
    <%= f.text_field :primary_study_95_ci %>
  </p>
  
    <p>
    <%= f.label :primary_study_case_allele %><br>
    <%= f.text_field :primary_study_case_allele %>
  </p>
  
  <p>
    <%= f.label :primary_study_association_description %><br>
    <%= f.text_field :primary_study_association_description %>
  </p>
  
  <p>
    <%= f.label :primary_study_p_value_significance_threshold %><br>
    <%= f.text_field :primary_study_p_value_significance_threshold %>
  </p>
  
  <p>
    <%= f.label :primary_study_significant_y_n %><br>
    <%= f.text_field :primary_study_significant_y_n %>
  </p>
  
  <p>
    <%= f.label :secondary_study_y_n %><br>
    <%= f.text_field :secondary_study_y_n %>
  </p>
  
  <p>
    <%= f.label :secondary_study_replication_y_n %><br>
    <%= f.text_field :secondary_study_replication_y_n %>
  </p>
  
  <p>
    <%= f.label :secondary_study_description %><br>
    <%= f.text_field :secondary_study_description %>
  </p>
  
  <p>
    <%= f.label :secondary_study_p_value %><br>
    <%= f.text_field :secondary_study_p_value %>
  </p>
  
  <p>
    <%= f.label :secondary_study_or %><br>
    <%= f.text_field :secondary_study_or %>
  </p>
  
  <p>
    <%= f.label :secondary_study_95_ci %><br>
    <%= f.text_field :secondary_study_95_ci %>
  </p>
  
  <p>
    <%= f.label :secondary_study_case_allele %><br>
    <%= f.text_field :secondary_study_case_allele %>
  </p>
  
  <p>
    <%= f.label :secondary_study_association_description %><br>
    <%= f.text_field :secondary_study_association_description %>
  </p>
  
  <p>
    <%= f.label :secondary_study_p_value_significance_threshold %><br>
    <%= f.text_field :secondary_study_p_value_significance_threshold %>
  </p>
  
  <p>
    <%= f.label :secondary_study_significant_y_n %><br>
    <%= f.text_field :secondary_study_significant_y_n %>
  </p>
  
  <p>
    <%= f.label :tertiary_study_y_n %><br>
    <%= f.text_field :tertiary_study_y_n %>
  </p>
  
  <p>
    <%= f.label :tertiary_study_replication_y_n %><br>
    <%= f.text_field :tertiary_study_replication_y_n %>
  </p>
  
  <p>
    <%= f.label :tertiary_study_p_value %><br>
    <%= f.text_field :tertiary_study_p_value %>
  </p>
  
  <p>
    <%= f.label :tertiary_study_or %><br>
    <%= f.text_field :tertiary_study_or %>
  </p>
  
  <p>
    <%= f.label :tertiary_study_95_ci %><br>
    <%= f.text_field :tertiary_study_95_ci %>
  </p>
  
  <p>
    <%= f.label :tertiary_study_case_allele %><br>
    <%= f.text_field :tertiary_study_case_allele %>
  </p>
  
  <p>
    <%= f.label :tertiary_study_association_description %><br>
    <%= f.text_field :tertiary_study_association_description %>
  </p>
  
  <p>
    <%= f.label :tertiary_study_p_value_significance_threshold %><br>
    <%= f.text_field :tertiary_study_p_value_significance_threshold %>
  </p>
  
  <p>
    <%= f.label :tertiary_study_significant_y_n %><br>
    <%= f.text_field :tertiary_study_significant_y_n %>
  </p>
  
  <p>
    <%= f.label :combined_analysis_y_n %><br>
    <%= f.text_field :combined_analysis_y_n %>
  </p>
  
  <p>
    <%= f.label :combined_study_p_value %><br>
    <%= f.text_field :combined_study_p_value %>
  </p>
  
  <p>
    <%= f.label :combined_study_or %><br>
    <%= f.text_field :combined_study_or %>
  </p>
  
  <p>
    <%= f.label :combined_study_95_ci %><br>
    <%= f.text_field :combined_study_95_ci %>
  </p>
  
  <p>
    <%= f.label :combined_study_case_allele %><br>
    <%= f.text_field :combined_study_case_allele %>
  </p>
  
  <p>
    <%= f.label :combined_study_association_description %><br>
    <%= f.text_field :combined_study_association_description %>
  </p>
  
  <p>
    <%= f.label :combined_study_p_value_significance_threshold %><br>
    <%= f.text_field :combined_study_p_value_significance_threshold %>
  </p>
  
  <p>
    <%= f.label :combined_study_significant_y_n %><br>
    <%= f.text_field :combined_study_significant_y_n %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>