
<% provide(:title, "Cancer details") %>
<h2> Cancer details for papers returned for search: <%= @search_term %> </h2>

</br>

<div class="table-responsive-lg table-lg">
<table class="table table-hover">
	<tr>
		<th> cancer name </th>
		<th> SNOMED ID </th>
	</tr>
	<% @cancer_details.each do |cancer_detail| %>
		<tr>
			<% if cancer_detail!=nil %>
				<td> <%=cancer_detail.cancer_name%></td>
				<td> <%=cancer_detail.SNOMED_SCTID%></td>
			<% end %>
		</tr>
	<%end%>
</table>
</div>


</br>
</br>
</br>

<span title="Click to return to the home page"><%= link_to "Home", controller: "genes", action: "home" %></span> | 
<span title="Click to return to the search results page"><%= link_to "Back to Search", controller: "genes", action: "internal_search", query: @search_term %> </span>| 

</br>
</br>