<% provide(:title, "Gene details") %>
<h2> Gene details for papers returned for search: <%= @search_term %> </h2>

</br>

<div class="table-responsive-lg table-lg">
<table class="table table-hover">
<tr>
	<th> gene </th>
	<th> variant </th>
	<th> family name </th>
	<th> HGNC ID </th>
	<th> KEGG link </th>
	<th> GWAS link </th>
	<th> PharmGKB link </th>
</tr>
	<% @gene_details.each do |gene_detail| %>
		<tr>
			<td> <%= gene_detail.gene_name %> </td>
			<td> <%= gene_detail.variant_list %> </td>
			<td> <%= gene_detail.family_name_1 %> </td>
			<td> <%= gene_detail.family_id_1 %> </td>
			<td style="word-wrap: break-word"> <%= link_to "KEGG", gene_detail.KEGG_link, :target => "_blank" %> </td>
			<td style="word-wrap: break-word"> <%= link_to "GWAS Catalog", gene_detail.GWAS_link, :target => "_blank" %> </td>
			<td style="word-wrap: break-word"> <%= link_to "PharmGKB", gene_detail.pharm_link, :target => "_blank" %> </td>
		</tr>
		<tr>
			<% if gene_detail.family_name_2!=nil %> 
				<td> </td>
				<td> </td>
				<td> <%= gene_detail.family_name_2 %> </td>
				<td> <%= gene_detail.family_id_2 %> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			<% end %>
		</tr>
		<tr>
			<% if gene_detail.family_name_3!=nil %> 
				<td> </td>
				<td> </td>
				<td> <%= gene_detail.family_name_3 %> </td>
				<td> <%= gene_detail.family_id_3 %> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			<% end %>
		</tr>
		<tr>
			<% if gene_detail.family_name_4!=nil %> 
				<td> </td>
				<td> </td>
				<td> <%= gene_detail.family_name_4 %> </td>
				<td> <%= gene_detail.family_id_4 %> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			<% end %>
		</tr>
	<% end %>
</table>
</div>


</br>
</br>
</br>


<span title="Click to return to the home page"><%= link_to "Home", controller: "genes", action: "home" %> </span>| 
<span title="Click to return to the search results page"><%= link_to "Back to Search", controller: "genes", action: "internal_search", query: @search_term %> </span>|
</br>
</br> 
