<!-- THIS IS THE HOME PAGE -->
<% provide(:title, "CATCH-KB") %>
<div align="center">
<h1>Welcome CATCH-KB: The cardiotoxicity of chemotherapy knowledgebase</h1>
</div>

</br>
</br>
</br>

<h2>Human-based studies</h2>

<%= form_tag search_path, method: 'get' do %>
	<%= text_field_tag :search_keywords, params[:search_keywords], size: 100, maxlength: 200, maxheight: 30, placeholder: "Search by PMID, gene ID, or variant" %>
	<%= submit_tag "Search" %>
<% end %>


|<%= link_to "Show all associations", controller: "findings", action: "index"%> | 
<%= link_to "Show all papers", controller: "papers", action: "index"%> | 
<%= link_to "Show all cancer types", controller: "cancer_details", action: "index"%> | 
<%= link_to "Show all drugs exposed to", controller: "drug_details", action: "index"%> | 
<%= link_to "Show all genes", controller: "genes", action: "index"%> | 
<%= link_to "Show all variants", controller: "variants", action: "index"%> |
<%= link_to "admin", controller: "admin", action: "index"%> | 


<h2>Additional model organism papers</h2>

<%= form_tag mo_search_path, method: 'get' do %>
	<%= text_field_tag :mo_search_keywords, params[:mo_search_keywords], size: 100, maxlength: 200, maxheight: 30, placeholder: "Search by PMID or gene ID" %>
	<%= submit_tag "Search" %>
<% end %>

|<%= link_to "Show animal papers", controller: "mo_papers", action: "index"%> | 